.ccd-markdown h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
}

.ccd-markdown h2 {
    padding-bottom: 0.1em;
    font-size: 1.5em;
}

.ccd-markdown pre {
    padding: .5em;
    overflow: auto;
    font-size: .9em;
    line-height: 1.45;
    background-color: #f6f8fa;
    border: .02em solid #ddd;
    border-radius: .2em;
}

.ccd-markdown blockquote {
    color: #666;
    margin: 0;
    padding-left: 1em;
    border-left: 0.25em #eee solid;
}
