@import "../../styles/index.css";

.cc-panel {
  border: var(--border);
  border-radius: var(--border-radius);
}

.cc-panel--title {
  font-size: 1.1em;
  padding-left: 1em;
  border-bottom: var(--border);
  height: 2em;
  line-height: 2em;
  color: var(--secondary-dark);
}
