input.cc-input {
  display: block;
  width: 100%;
  height: 2em;
  padding: .5em;
  font-size: 1em;
  line-height: 1em;
  background-color: #fff;
  background-image: none;
  border: .02em solid #ccc;
  border-radius: .2em;
  outline: none;
}

input.cc-input::placeholder {
  color: #cecece;
}