.cc-panel {
  border: .02em solid #ddd;
  border-radius: .2em;
}

.cc-panel--title {
  font-size: 1.1em;
  padding-left: 1em;
  border-bottom: .02em solid #ddd;
  height: 2em;
  line-height: 2em;
  color: #AAA;
}
