ul.cc-tabs-header {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: .02em solid #ddd;
}

ul.cc-tabs-header > li > button {
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  color: #586069;
  padding: .9em 1.1em;
  border: none;
  background-color: transparent;
  outline: none;
}

ul.cc-tabs-header > li.cc-tabs--selected {
  background-color: #ddd;
}

ul.cc-tabs-header > li.cc-tabs--selected > button {
  cursor: default;
  color: #000;
}




