.cc-panel-list--content > li > a.active {
  background-color: #eee;
}

.cc-panel-list--content > li > a.active:hover {
  text-decoration: none;
  cursor: default;
  color: #000;
}

.cc-panel-list--content > li > div.cc-search {
  padding: 0;
}

input.ccd-sidebar-search {
  border: none;
}

.ccd-sidebar-noresult {
  color: #cecece;
}