@import "../common/styles/index.css";

.cc-navbar {
  height: 4em;
  line-height: 4em;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  display: flex;
  justify-content: center;
}

.cc-navbar--container {
  width: 100%;
}

.cc-navbar--logo {
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 2em;
  float: left;
}

.cc-navbar--menu {
  float: right;
}

.cc-navbar--menu a {
  padding: 0 2em;
  text-decoration: none;
  color: var(--default-light);
}

.cc-navbar--menu  a:visited {
  color: var(--default-light);
}

.cc-navbar--menu  a:hover {
  color: var(--primary-light);
}
