.cc-navbar {
  height: 54px;
  line-height: 54px;
  color: #fff;
  background-color: #24292e;
  display: flex;
  justify-content: center;
}

.cc-navbar--container {
  width: 900px;
}

.cc-navbar--logo {
  font-weight: 700;
  margin-left: 10px;
  float: left;
}

.cc-navbar--menu {
  float: right;
}

.cc-navbar--menu a {
  padding: 0 10px;
  text-decoration: none;
  color: rgba(255,255,255,0.75);
}

.cc-navbar--menu  a:visited {
  color: rgba(255,255,255,0.75);
}

.cc-navbar--menu  a:hover {
  color: #fff;
}
