@import "../common/styles/index.css";

ul.cc-panel-list--content {
  padding: 0;
  margin: 0;
  overflow: auto;
}

ul.cc-panel-list--content > li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 2em;
  border-bottom: var(--border);
}

ul.cc-panel-list--content > li:last-child {
  border-bottom: none;
}

ul.cc-panel-list--content > li > * {
  box-sizing: border-box;
  display: block;
  padding: 0 1em;
  width: 100%;
}
