@import "../common/styles/index.css";

.cc-badge {
  font-size: .8em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: var(--border-radius);
  padding: .25em .5em
}

.cc-badge-default {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}

.cc-badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}